.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .logo{
    width: 90px;
    margin: 50px 0 60px 0;
}

.container .tittle{
    color: hsl(0, 0%, 59%);
    font-weight: 300;
    font-size: 50px;
    margin: 0 0 25px;
}

.container .tittle span{
    font-weight: bold;
    color: hsl(209, 33%, 12%);
}

.container .text{
    font-size: 20px;
}

.container .email-section{
    padding: 40px 0 90px 0;
    display: flex;
    gap: 15px;
}

.container .email-section div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container .email-section div .email-input{
    width: 400px;
    height: 50px;
    border-radius: 50px;
    padding-left: 30px;
    border: 1px solid hsl(223, 100%, 88%);
    outline: none;
    font-size: 15px;  
}

.container .email-section div .email-input-error{
    width: 400px;
    height: 50px;
    border-radius: 50px;
    padding-left: 30px;
    outline: none;
    font-size: 15px;  
    border: 1px solid hsl(354, 100%, 66%);
}

.container .email-section div .email-input::placeholder {
    color: hsl(223, 100%, 88%);
}

.container .email-section div .error{
    padding-left: 30px;
    padding-top: 12px;
    font-style: italic;
    color: hsl(354, 100%, 66%);
    
}

.container .email-section div .active{
    display: none;
}

.container .email-section button{
    background-color: #4c74f4;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 5px 5px hsl(233, 100%, 88%);
}

.container .email-section button:hover{
    background-color: #708cf4;
}

.container .illustration-img{
    max-width: 650px;
    padding-bottom: 70px;
}


.container .copyright{
    font-size: 12px;
    color: hsl(0, 0%, 59%);
    padding-bottom: 50px;
}

.container .icon-section{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-bottom: 25px;
}

.container .icon-section div{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
    width: 40px;
    cursor: pointer;
    gap: 30px;
    border: hsl(223, 100%, 88%) solid 1px;
    border-radius: 50%;
    
}

.container .icon-section div .icon{
    width: 20px;
    height: 20px;
    filter: invert(45%) sepia(89%) saturate(3994%) hue-rotate(215deg) brightness(101%) contrast(91%);

}

.container .icon-section div:hover{
    background-color: #4c74f4;
}

.container .icon-section div .icon:hover{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(81deg) brightness(104%) contrast(101%);
}

@media screen and (max-width: 650px){

    .container .tittle{
        text-align: center;
    }

    .container .email-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container .email-section .email-input{
        max-width: 400px;
    }

    .container .email-section button{
        width: 400px;
    }

    .container .illustration-img{
        max-width: 100%;
    }

    .container .email-section div{
        align-items: center;
    }

    .container .email-section div small{
        padding-left: 0;
        padding-top: 12px;
        padding-bottom: 30px;
    }


}