.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    background-color: hsl(233, 47%, 7%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .card{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    max-height: 446px;
    max-width: 1100px;
}

.section .card .stats img{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: -4px;
}


.section .card .text{
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
    padding: 70px;
    line-height: 25px;
}

.section .card .text .text-p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: lighter;
    padding-bottom: 70px;
    padding-right: 30px;
}

.section .card .text .tittle{
    font-family: 'Inter';
    font-weight: bold;
    font-size: 35px;
    color: white;
    line-height: 45px;
    padding-bottom: 25px;
}

.section .card .text .flex{
    display: flex;
    align-items: center;
    color: hsla(0, 0%, 100%, 0.6);
    justify-content: flex-start;
    font-family: 'Lexend Deca';
    font-size: 11px;
    letter-spacing: 1px;
    gap: 70px;
    line-height: 30px;
}

.section .card .text .flex h1{
    color: white;
}
